/* Votre feuille de style à compléter */

body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

h1 {
  color: #333;
}

header {
  width: 100vw;
  height: 10vh;
  background-color:#DFDFDD;
  border: white solid 10px;
  display: flex;
  align-items: center;
}

.profilePic {
  width: 50px;
  height: 50px;
  background-color: #BDBEC0;
  border-radius: 100%;
  margin-left: 20px;

}  

#menu {
  height: auto;
  width: 25%;
  margin-left: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bloc{
  background-color: #BDBEC0;
  width: 30%;
  height: 20px;
  border-radius: 5px;

  }

#banner {
  height: 481px;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.image{
  height: 481px;
  width: 50%;
  background-color: #DFDFDD;
  margin-left: 10px;
  margin-top: 10px;
}

#BannerText {
  width:50%;
  height: 481px;
  margin-left: 10px;
  margin-top: 10px;
}

.titre{
  width: 85%;
  height: 40px;
  background-color: #BDBEC0;
  border-radius: 5px;
  margin-top: 20px;
}

.text{
margin-top: 10%;
}


.cardList{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  
}

.card{
    height: 15%;
    width: auto;
    background-color: red;
    border: black solid 1px;
}

.cardPic{

}