$fontfamily: Comic Sans MS,arial, helvetica, sans-serif;

$font-family-base: $fontfamily;

@mixin bg-primary {
    
}

@mixin bg-warning {
    background-color: rgb(207, 22, 31);
}

@mixin btn--round {
    @extend %btn;
    border-radius: 5px;;
}

